*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
    width: auto;
}

body {
    background: #222;
}
.card{
    width: 100%;
    max-width:550px ;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: centre;

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 5px 25px;
    height:60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}

.search button:hover{
  transition-duration: 0.3s;
  opacity: 90%;
 background-color: rgb(120, 153, 210) ;
 width: 60px;
 height: 60px;
  border-radius: 40%;
}
.search button{
    border:0;
    outline:0;
    background: #c5ebf3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor:pointer;

} 

.search button img{
    width: 16px;

}

.weather{
    text-align: center;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size:45px ;
    font-weight:500;
}

.weather h2{
    font-size:45px ;
    font-weight:400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50PX;
}


.humidity  , .wind{
font-size: 28px;
margin-top: -6px;
}

.error{
    text-align: left;
    margin-top: 10px;
    font-size:14px;
    margin-top:10px;
    color: greenyellow;
    display:none;
    background-color: rgb(197, 0, 0);
    
}